<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Customer Details</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<!-- <h1>Login Page</h1> -->
<div class="wrapper">
    <form class="form-signin">
        <h2 class="form-signin-heading">Customer Details</h2>
        <input type="text" class="form-control" name="firstName" placeholder="First Name" required="" autofocus="" />
        <input type="text" class="form-control" name="lastname" placeholder="Last Name" required="" autofocus="" /><br><br>
        <input type="text" class="form-control" name="street" placeholder="Street"  autofocus="" />
        <input type="text" class="form-control" name="address" placeholder="Address"  autofocus="" /><br><br>

        <input type="text" class="form-control" name="city" placeholder="City"  autofocus="" />
        <input type="text" class="form-control" name="state" placeholder="State"  autofocus="" /><br><br>

        <input type="text" class="form-control" name="email" placeholder="Email"  autofocus="" />
        <input type="text" class="form-control" name="phone" placeholder="Phone"  autofocus="" /><br><br>




        <button class="btn" type="submit" style="background-color: rgb(95, 95, 223); width: 100px; height: 31px; float: inline-end;">Submit</button>
    </form>
</div>
</body>
</html>